/* BASIC STYLES */
body * {
	vertical-align: top;
}

body {
	font-family: Didact Gothic;
	margin: 0 auto;
	padding: 0;
}

/* UTILITIES */

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	/*vertical-align: middle;*/
}

/* HEADER STYLES*/

.header{
	background-color: black;
	background: url("images/header-background.png") repeat-x top left;
	background-repeat: repeat-x;
	margin: 0 auto;
	height: 70px;
	color: white;
}

.header .logo{
	margin-top: 5px;
	
}

.header .nav {
	display: inline-block;
	margin: 16px 0 0 38px;
	padding: 0;
	margin-top: 16px;
	margin-left: 40px;
	list-style-type: none;
}

.header li {
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;
	margin-right: 30px;
	text-shadow: 0 1px 3px #000;
	color: white	
}

.user-menu {
	position: absolute;
	right: 0;
	top: 10px;
}

.user-menu .avatar {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin-top: -4px;
}

.user-menu .user-name {
	margin-top: 5px;
	display: inline-block;
	margin: left;
}

.user-menu .menu-button {
	width: 10px;
	height: 10px;
	margin-top: 13px;
	margin-left: 30px;
	display: inline-block;
	background: url("images/wedge.png") no-repeat center center; 
}

/*SUBHEADER*/

.subheader{
	font-family: Didact Gothic;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(65, 65, 65);
}	

/* MAIN */

.content {
	background-color: rgb(242, 240, 218);
	margin: 0 auto;
	box-shadow: inset 0px 0px 2px 2px rgb(219, 240, 236);
	padding-bottom: 15px;
}

.leftbar {
	display: inline-block;
	margin-top: 20px;
	width: 640px;
	position: relative;
	
}

.mob-id {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	width: 620px;
	height: 55px;
	color: white;
	font-size: 20px;
	display: inline-block;
	padding: 10 0 0 15;

}

.mob-id .mob-location {
	display: inline-block;
	position: relative;
	top: 10px;
	right: -10px;

}

.mob-id .mob-countdown {
	display: inline-block;
	right: 20px;
	top: 10px;
	position: absolute;
	font-size: 14px;

}

.band-photo {
	height: 400px;
	width: 620px;
}

.ribbon {
	display: block;
	position: relative;
	top: -16px;
	height: 30px;
	left: -12px;
	width: 146px;
	background: #dcbd3a;
	}
	
.ribbon:before, el:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
}
	
.ribbon:before {
	display: block;
	left: 0;
	top: 30px;
	border-width: 6px;
	border-color: #d3bd55 #d3bd55 transparent transparent;
}
	
.ribbon:after {
	display: block;
	right: 0;
	top: 30px;
	border-width: 6px;
	border-color: #d3bd55 transparent transparent #d3bd55;
}
	
.message {
	color: white;
	padding: 20px;
	text-transform: uppercase;
}

.message-box {
	width:620px;
	height:85px;
	background-color: rgb(200, 200, 200);
	margin-top: -46px;
}

.message-box p {
	font-size: 17px;
	line-height: 25px;
	color: rgb(60,60,60);
	margin-top: 5px;
	padding: 25px;
}

.legal-disclaimer {
	color: rgb(60, 60, 60);
	font-size: 12px;
	margin-left: 30px;
	margin-right: 80px; 
}

.sidebar {
	width: 320px;
	display: inline-block;
	margin-left: -4px;
}

.box {
	width: 140px;
	height: 150px;
	background-color: rgb(200, 200, 200);
	color: white;
	display: inline-block;
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	margin-left: 10px;
	box-shadow: inset 0px 0px 2px 2px rgb(219, 240, 236);
}

.mobbers {
	position: absolute;
	height: 35px;
	width: 136px;
	background-color: rgb(181, 174, 163);
	color: rgb(65, 65, 65);
	margin: -37px 10px 10px 10px;
	text-align: center;
}

.mobbers-needed {
	position: absolute;
	height: 35px;
	width: 136px;
	background-color: rgb(181, 174, 163);
	color: rgb(65,65,65);
	margin: -37px 10px 10px 166px;
	text-align: center;

}

.join-mob {
	display: inline-block;
	margin: left;
}

.join-mob .join-mob-button {
	border: 1px solid rgb(185, 129, 0);
	height: 60px;
	width: 300px;
	line-height: 60px;
	color: white;
	text-shadow: 1px 1px 1px rgb(65, 65, 65);
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	background-color:background: #ffdd00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdd00 0%, #eaa600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdd00), color-stop(100%,#eaa600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdd00 0%,#eaa600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdd00 0%,#eaa600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdd00 0%,#eaa600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdd00 0%,#eaa600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#eaa600',GradientType=0 ); /* IE6-9 */
	margin-top: 30px;
	box-shadow: inset 0 1px 1px #fff,
					  0 3px 1px #B8B6B6;
	text-shadow: 0 1px 1px #9B6C00;
	position: relative;
}

.join-mob .join-card {
	height:80px;
	width: 290px;
	background-color: white;
	font: 6px;
	border-radius: 5px;
	margin-left: 7px;
	border: 1px solid rgb(65, 65, 65);
}

.award-ribbon {
	padding-left: 10px;
	padding-top: 10px;
}

.join-card-text {
	display: inline-block;
	padding-top: 15px;
	
}

.join-card span {
	display: block;
}

.shout-out {
	text-align: center;
	font-size: 12px;
	color: rgb(65, 65, 65);
	margin-left: -20px;

}

.social-links {

}

/* UPCOMING EVENTS */

.upcoming-events {
	margin: 0 auto;
	border-bottom: 1px solid rgb(167, 159, 147);
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 20px;
}

.image-size {
	width: 300px;
	height:195px;
}

.event-1 {
	display: inline-block;
	margin-right: 10px;
}

.event-2 {
	display: inline-block;
	margin-right: 10px;
}

.event-3 {
	display: inline-block;
}

.event-detail {
	display: inline-block;

}
.event-detail span {
	display: block;
}

.event-location {
	font-size: 15px;
	color: black;
}

.mobber-needs {
	font-size: 12px;
	color: gray;
}

.time {
	font-size: 13px;
	display: inline-block;
	margin-left: 40px;
	margin-top: 5px;
	color: rgb(65, 65, 65);
}

/* UPCOMING MOBS*/

.upcoming-mobs {
	margin-top: 10px;
}


/*TABLE*/

.table-data {
	display: inline-block;
}

.tg-left { 
	text-align: left; 
} 

.tg-right { 
	text-align: left; 
}

.tg-center { 
	text-align: center; 
}


.tg-table-plain { 
	border-collapse: separate;
	border-spacing: 0; 
	font-size: 100%; 
	color: rgb(65, 65, 65);
	font: inherit; 
	table-layout: fixed;
	width: 620px;
}

.tg-table-plain td, .tg-table-plain th { 
	border-bottom: 1px #555 solid; 
	padding: 10px; 
	vertical-align: top; 
	font-weight: normal; 
}

/* START MOB BOX */

.start-mob {
	height: 215px;
	width: 300px;
	background-color: rgb(208, 205,199);
	display: inline-block;
	padding: 10px 8px;
	margin-top: 20px;
	margin-left: 20px;

}

.start-mob h2 {
	color: white;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    text-shadow: rgb(167, 159, 147) 0 2px;
}


.step-number {
 	display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 13px;
}

.round-buttons {
    border-radius: 20px;
    height: 35px;
    width: 35px;
    margin: 6px auto;
    font-size: 20px;
    line-height: 35px;
    position: relative;
    z-index: 10;
    color: gray;
    text-shadow: 0 1px 1px white;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: inset 0 2px 1px #fff, 0 1px 3px gray;
    background: #d5d5d5; /* Old browsers */
    background: -moz-linear-gradient(top, #d5d5d5 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d5d5d5 0%,#fcfcfc 100%); /* W3C */
}

 .step-number .directions {
 	color: rgb(65, 65, 65);
 	line-height: 15px;
 	padding: 0px;
 	font-size: 14px;
 }



.start-mob-button {
    text-align: center;
    border: 1px solid rgb(151, 145, 135);
    width: 280px;
    height: 60px;
    color: rgb(50, 130, 178);
    font-size: 22px;
    line-height: 55px;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 0 1px 1px #fff;
    box-shadow: inset 0 1px 1px #fff;
    background: #e7e6ec; /* Old browsers */
    background: -moz-linear-gradient(top, #e7e6ec 0%, #d0cdc7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e6ec), color-stop(100%,#d0cdc7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e7e6ec 0%,#d0cdc7 100%); /* W3C */
}

/*FOOTER*/

.footer {
    background: rgb(85, 85, 85);
    color: rgb(214, 209, 209);
    text-shadow: 0 1px 1px #000;
    margin-top: 40px;
}

.footer .social {
    margin: 6px 0px;
    border-bottom: 1px solid rgb(62, 60, 60);
    width: 220px;
    padding-bottom: 6px;
}

.footer .social:last-child {
    border-bottom: none;
}

.footer .social img {
    margin-left: -4px;
}

.footer p {
    padding: 0;
    width: 200px;
}

.footer .directions {
    color: rgb(210, 210, 210);
    margin: 8px 0 12px 0;
}

.footer-info {
    display: inline-block;
    margin-bottom: 50px;
}

.footer-info h3 {
    margin-bottom: 9px;
    color: white;
    font-size: 18px;
}

.button-grid {
    display: inline-block;
    margin-right: 15px;
}

.button-small {
    text-align: center;
    border: 1px solid rgb(62, 60, 60);
    width: 139px;
    height: 37px;
    color: white;
    font-size: 12px;
    line-height: 37px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
    text-shadow: 0 1px 1px black;
    box-shadow: inset 0 1px 0px rgb(65, 62, 62);
    background: rgb(99, 99, 98);
}

.footer-info .center {
    width: 240px;
    margin-left: 80px;
}

.input {
    background: white;
    width: 210px;
    height: 42px;
    border-radius: 5px;
    margin: 20px 0;
}

input {
    background: white;
    width: 210px;
    height: 40px;
    color: rgb(140, 140, 140);
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 4px rgb(28, 30, 37);
    padding-left: 10px;
    font-size: 13px;
    background: url(images/check-icon.png) no-repeat center right;
}

.footer-info .right {
    width: 240px;
    border-bottom: 1px solid rgb(62, 60, 60);
    padding-bottom: 16px;
    margin: 0 0 5px 70px;
}

.footer-info .button-gold {
    text-align: center;
    border: 1px solid rgb(195, 143, 38);
    width: 220px;
    height: 35px;
    color: white;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    padding-top: 15px;
    text-shadow: 0 1px 1px rgb(113, 86, 30);
    box-shadow: inset 0 1px 1px #fff,
                      0 1px 3px rgb(50, 48, 48);
    background: #fcd833; /* Old browsers */
    background: -moz-linear-gradient(top, #fcd833 0%, #fca52e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd833), color-stop(100%,#fca52e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcd833 0%,#fca52e 100%); /* W3C */

}

.footer-info .button-gold span {
    line-height: 25px;
}

.copyright {
    margin: 0 0 5px 70px;
    font-size: 15px;
}

