/* BASIC STYLES */
body * {
	vertical-align: top;
}

body {
	font-family: Didact Gothic;
	margin: 0 auto;
	padding: 0;
}

/* UTILITIES */

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	/*vertical-align: middle;*/
}

/* HEADER STYLES*/

.header{
	background-color: black;
	background: url("images/header-background.png") repeat-x top left;
	background-repeat: repeat-x;
	margin: 0 auto;
	height: 70px;
	color: white;
}

.header .logo{
	margin-top: 5px;
	
}

.header .nav {
	display: inline-block;
	margin: 16px 0 0 38px;
	padding: 0;
	margin-top: 16px;
	margin-left: 40px;
	list-style-type: none;
}

.header li {
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;
	margin-right: 30px;
	text-shadow: 0 1px 3px #000;
	color: white	
}

.user-menu {
	position: absolute;
	right: 0;
	top: 10px;
}

.user-menu .avatar {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin-top: -4px;
}

.user-menu .user-name {
	margin-top: 5px;
	display: inline-block;
	margin: left;
}

.user-menu .menu-button {
	width: 10px;
	height: 10px;
	margin-top: 13px;
	margin-left: 30px;
	display: inline-block;
	background: url("images/wedge.png") no-repeat center center; 
}

/*SUBHEADER*/

.subheader{
	font-family: Didact Gothic;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(65, 65, 65);
}	

/* MAIN */

.content {
	background-color: rgb(242, 240, 218);
	margin: 0 auto;
	box-shadow: inset 0px 0px 2px 2px rgb(219, 240, 236);
}

.leftbar {
	display: inline-block;
	margin-top: 20px;
	width: 640px;
	position: relative;
	
}

.mob-id {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	width: 620px;
	height: 55px;
	color: white;
	font-size: 20px;
	display: inline-block;
	padding: 10 0 0 15;

}

.mob-id .mob-location {
	display: inline-block;
	position: relative;
	top: 10px;
	right: -10px;

}

.mob-id .mob-countdown {
	display: inline-block;
	right: 20px;
	top: 10px;
	position: absolute;
	font-size: 14px;

}

.band-photo {
	height: 400px;
	width: 620px;
}

.ribbon {
		display: block;
		position: relative;
		top: -16px;
		height: 30px;
		left: -12px;
		width: 146px;
		background: #dcbd3a;

	}
	
	.ribbon:before, el:after {
		content: '';
		display: block;
		position: absolute;
		border-style: solid;
	}
	
	.ribbon:before {
		display: block;
		left: 0;
		top: 30px;
		border-width: 6px;
		border-color: #d3bd55 #d3bd55 transparent transparent;
	}
	
	.ribbon:after {
		display: block;
		right: 0;
		top: 30px;
		border-width: 6px;
		border-color: #d3bd55 transparent transparent #d3bd55;
	}


	
.message {
	color: white;
	padding: 20px;
	text-transform: uppercase;

}

.message-box {
	width:620px;
	height:85px;
	background-color: rgb(200, 200, 200);
	margin-top: -30px;

}

.message-box span {
	font-size: 20px;
	line-height: 35px;
	color: rgb(60,60,60);
	margin-top: 5px;

}

.legal-disclaimer {
	color: rgb(60, 60, 60);
	font-size: 12px;

}

.sidebar {
	width: 320px;
	display: inline-block;
	margin-left: -4px;

}

.box {
	width: 140px;
	height: 150px;
	background-color: rgb(200, 200, 200);
	color: white;
	display: inline-block;
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	margin-left: 10px;
}

.join-mob {
	display: inline-block;
	margin: left;
}

.join-mob .join-mob-button {
	border: 1px solid rgb(185, 129, 0);
	height: 60px;
	width: 300px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	background-color: rgb(250, 200, 0);
	margin-top: 30px;
	box-shadow: inset 0 1px 1px #fff,
					  0 3px 1px #B8B6B6;
	text-shadow: 0 1px 1px #9B6C00;
	position: relative;
}

.join-mob .join-card {
	height:80px;
	width: 290px;
	background-color: white;

}

.shout-out {
	text-align: center;
	font-size: 10px;
	color: gray;

}


/*.grid {
	float: left;
	display: inline;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

*/